body {
    font-family: monospace;
    font-size: 20px;
    align-items: center;
}

nav {
    margin: 10px;
    padding: 10px;
}

button {
    font-size: small;
    font-weight: bold;
    width: 120px;
    height: 60px;
    Color: white;
    background-color: purple;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-style: bold;
    font-size: 40px;
}

.container {
    text-align: center;
    padding: 20px 25px 20px 25px;
}

li {
    text-align: left;
    border : 1px solid grey;
    background-color: purple;
    color: white;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    cursor: pointer;
    padding : 10px;
    width: 50%;
}

li:hover {
        border : 2px solid grey;
        font-weight: bold;
}

/* Applied styles when quiz is completed */
#Submit {
    background-color: purple;
    align-items: center;
    font-size: small;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

label {
    margin-right: 10px;
}
        
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

#createDiv {
    align-items: center;
    margin-top: 20px;
    color: gray;
    font-style: italic;
}
